<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>WAPP4U</h1>
          <h3>Web applications for you</h3>
      </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">About us</h2>
              <h5 class="description">WAPP4U is designed to part pick your own website for the best price available. You can choose each component individualy and are able to specify as much as you want!
                Already have a website but you want some changes? Don't you worry, you can contact us whenever you want for any change, be it minor or major!
              </h5>
              <br>
              <a href="/builder" class="btn btn-outline-primary btn-round">Go to builder</a>
          </div>
      </div>
      <br/><br/>
  </div>
</div>

<div class="section section-dark text-center">
  <div class="container">
      <h2 class="title">Our team</h2>
      <div class="row">
          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#paper-kit">
                          <div class="author">
                              <h4 class="card-title">Youssef Khrichef</h4>
                              <h6 class="card-category">Designer</h6>
                          </div>
                      </a>
                  </div>
                  <div class="card-footer text-center">
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-github"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#avatar"><img src="./assets/img/faces/brecht_leben.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#paper-kit">
                          <div class="author">
                              <h4 class="card-title">Brecht leben</h4>
                              <h6 class="card-category">Product manager</h6>
                          </div>
                      </a>
                  </div>
                  <div class="card-footer text-center">
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-github"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="card card-profile card-plain">
                  <div class="card-avatar">
                      <a href="#avatar"><img src="./assets/img/faces/dennis_nowicki.jpg" alt="..."></a>
                  </div>
                  <div class="card-block">
                      <a href="#paper-kit">
                          <div class="author">
                              <h4 class="card-title">Dennis Nowicki</h4>
                              <h6 class="card-category">Developer</h6>
                          </div>
                      </a>
                  </div>
                  <div class="card-footer text-center">
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-github"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center title">Questions?</h2>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                            </div>
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea class="form-control" rows="4" placeholder="What can we help you with?"></textarea>
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <button class="btn btn-primary btn-lg btn-fill">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
