<div class="container builder-container">
  <div class="row" [hidden]="summaryActive">

    <div class="col-md-12 col-lg-8">

      <h2 [hidden]="summaryActive">User Settings</h2>
      <hr [hidden]="summaryActive"><br>

      <form #form1 ="ngForm" [hidden]="!form1Active">

        <div class="form-group">
          <label for="usageType">Application usage</label>
          <select id="usageType" class="form-control" name="usageType" #usageType>
            <option>Static display of media (informative)</option>
            <option>Dynamic display of media (informative and/or entertainment)</option>
            <option>E-commerce</option>
            <option>Web portal (forum/social media)</option>
            <option>CMS based website</option>
          </select><br>

          <label>Want to specify pages?</label><br>

          <span class="form-check-radio distance">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="pages" id="yes" value=true >
              Yes
              <span class="form-check-sign"></span>
            </label>
          </span>
          <span class="form-check-radio distance">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="pages" id="no" value=false checked="">
              No
              <span class="form-check-sign"></span>
            </label>
          </span><br><br>


          
          <label for="description">Please describe your idea</label>
          <textarea name="description" placeholder="Description"  id="description" class="form-control" rows="3" #description></textarea>
        </div>
        <button class="btn btn-primary" (click)="isClicked(); addForm1Data()">Next</button><br><br>
      </form>

      <form #form2 ="ngForm" [hidden]="!form2Active">
        <div class="form-group d-flex flex-wrap" >
          <a class="component-anchor" *ngFor="let component of components$ | async" (click)=addComponent(component)>
            <div class="card" style="width: 11rem;">
              <div class="card-body text-center center">
                <p class="component-name">{{component.name}}</p>
                <img src="{{component.src}}" class="component-icon" alt="{{component.name}}_icon">
              </div>
            </div>
          </a>
        </div>
        <button class="btn btn-primary" (click)="isClicked()">Previous</button>
        <button class="btn btn-primary float-right" (click)="isClicked2()" >Next</button><br><br>
      </form>

    </div>

    <div class="col-md-12 col-lg-4" [hidden]="summarySideActive" style="background-color: g;">

      <div class="card overview-card" style="max-width: 42rem;">
        <div class="card-header">
          Overview of application
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let application of userApplication">
           {{ application }}
          </li>
        </ul>
      </div>

      <br><br>

      <div class="card overview-card" style="max-width: 42rem;">
        <div class="card-header">
          Overview of selected items
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let chosen of chosenComponents">
            <img src="{{chosen.src}}" class="card-icon" alt="{{chosen.name}}_icon"> {{ chosen.name }}
            <button class="btn btn-outline-danger btn-sm btn-just-icon erase" (click)="eraseComponent(chosen)">X</button>
          </li>
        </ul>
      </div>

      <br><br>
      
    </div>

  </div>

  <div class="row" [hidden]="!summaryActive">

    <div class="col-12">

      <div>
        <div class="container">
          <h2>Overview of selected items</h2>
          <hr>
          <h4>Selected Webapplication</h4><br>
          <ul>
            <li *ngFor="let data of userData" style="font-size: 16px;">
             {{ data }}
            </li>
          </ul>
          <h4>Selected Components:</h4><br>
          <ul>
            <li *ngFor="let chosen of chosenComponents" style="font-size: 16px;">
              <img src="{{chosen.src}}" class="card-icon" alt="{{chosen.name}}_icon"> {{ chosen.name }}
            </li>
          </ul>
        </div>
      </div>

      <form class="contact-form">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                </div>
            </div>
            <div class="col-md-6">
                <label>Email</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                </div>
            </div>
        </div>
        <label>Message</label>
        <textarea class="form-control" rows="4" placeholder="What can we help you with?"></textarea>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-fill">Submit request</button>
            </div>
        </div>
      </form>
      <br>

    </div>
  </div>

</div>



