.card {
  margin: 7px;
}

.component-anchor {
  text-decoration: none;
  cursor: pointer;
}

.component-anchor:hover {
  text-decoration: none;
}

.component-name {
  color: black;
}

.card-icon {
  max-height: 20px;
  max-width: 20px;
}

.component-icon {
  max-height: 80px;
  max-width: 80px;
}

.erase{
display: none;
}

.list-group-item:hover .erase{
  display: inline-block;
}


