<footer class="footer bg-dark">
  <div class="container">
      <div class="row">
          <nav class="footer-nav">
              <ul>
                  <li>
                    <a [routerLink]="['home']" class="nav-link _nav-item">Home</a>
                  </li>
                  <li>
                  <a [routerLink]="['builder']" class="nav-link _nav-item">builder</a>
                  </li>
              </ul>
          </nav>
          <div class="credits ml-auto">
              <span class="copyright">
                  © {{test | date: 'yyyy'}}, made by Youssef, Brecht and Dennis
              </span>
          </div>
      </div>
  </div>
</footer>

